body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.container {
    width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

form.form-inline {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

input[type="text"]{
    padding: 6px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
}

a {
    color: #007dff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
